<sessionState cookieless="false" mode="SQLServer" 
                  sqlConnectionString="data source=serverName.database.windows.net;user id=UserID@serverName;password=password;Trusted_Connection=False;Encrypt=True;"
                  timeout="20"
                  allowCustomSqlDatabase="true">
</sessionState>